* {
	font-family: serif;
	color: black;
}

html, body {
	margin: 0;
}

nav {
	background-color: red;

	padding-top: 15px;
	padding-bottom: 13px;

	position: sticky;
	top: 0;

	margin-bottom: 10px;
}

#nav-contents h1 {
	margin: 0;
	margin-left: 10px;
}

#nav-contents h1 a {
	text-decoration: none;
}