* {
	font-family: serif;
	color: black;
}

html, body {
	overscroll-behavior: none;

	margin: 0;
}

nav {
	background-color: red;

	padding-top: 15px;
	padding-bottom: 13px;

	position: sticky;
	top: 0;

	margin-bottom: 10px;
}

nav #nav-contents {
	display: flex;

	margin-left: 10px;
	margin-right: 10px;
}

#nav-contents h1 {
	margin: 0;
}

#nav-contents h1 a {
	text-decoration: none;
}

#nav-contents #icons {
	margin-left: auto;
}

#icons a span {
	cursor: pointer;
}

#icons a:not(:last-of-type) {
	margin-right: 10px;
}

img {
	-webkit-user-drag: none;
}