#wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	margin-bottom: 10px;
}

#wrapper #drag-drop {
	width: 65%;
	height: 570px;

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	border-radius: 10px;
	border: 1px solid;

	margin-bottom: 10px;
}

#drag-drop #select-computer {
	text-decoration: underline;
	cursor: pointer;
}

#wrapper #video-details {
	width: 65%;
}

#video-details #heading {
	margin-top: 5px;
	margin-bottom: 0;
}

#video-details .detail-heading {
	margin-top: 15px;
	margin-bottom: 5px;
}

#video-details #title, #video-details #tags {
	width: 230px;
	height: 22px;
}

#video-details #description {
	width: 966px;
	height: 165px;

	resize: none;

	border: 1px solid black;
}

#video-details #upload {
	width: 70px;
	height: 28px;

	font-size: 14px;

	border-radius: 10px;
	border: 1px solid black;

	margin-top: 10px;

	cursor: pointer;
}